{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, tempore. Eum laudantium enim blanditiis nemo officiis amet magnam quo itaque quam odit soluta consequuntur ab, earum odio minima iste architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsum inventore nobis at placeat. Dolorem, accusantium. Placeat vitae officiis quod a architecto expedita optio veritatis. Quod mollitia saepe explicabo ullam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem delectus, deserunt suscipit veritatis quia, corrupti quae quidem facere quibusdam consectetur debitis tenetur ullam, officia aut tempora sequi nobis cum magni?</p>
<p>Website created by {{ username }}</p>
{% endblock %}